.intro {
  background: 
    linear-gradient(
      rgba(0, 0, 0, 0.3),
      rgba(0, 0, 0, 0.3)
    ), 
    url(header_background.jpg);
  background-size: cover;
  height: 100vh;
}

header {
  position: absolute;
  top: 25%;
  left: 75%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
}

