/* colors from dark tolight:
    black olive #403E40
    ebony #5E5C5E
    old silver #868486
    quick silver #A5A3A5
    platinum #E6E4E6
*/

@import url('https://fonts.googleapis.com/css?family=Calligraffitti');

body {
    background-image: url("background.jpg");
    background-repeat: round;
    font-family: 'Calligraffitti', cursive, sans-serif;
}

/*
.page-wrapper {
    position: relative;
}
*/

header { background: #868486; position: relative; display: block;
    top: 10px; width: 24%; height: 24%; left: 30%; margin-left: -12%; /*half of width */   
    color: #E6E4E6; padding: 10px; text-align: center; border-radius: 8px; }

.summary { background: #5E5C5E; position: relative; display: block;
    top: -8px; width: 32%; height: 32%; left: 30%; margin-left: -16%; /*half of width */   
    color: #E6E4E6; padding: 10px; text-align: center; border-radius: 12px; z-index: -1; }

.preamble { background: #403E40; position: relative; display: block;
    top: -28px; width: 40%; height: 40%; left: 30%; margin-left: -20%; /*half of width */   
    color: #E6E4E6; padding: 10px; text-align: center; border-radius: 16px;  z-index: -2; }

aside {float: right}

.design-selection { 
    background: #403E40; position: absolute; display: block;
    top: 10px; width: 40%; height: 40%; right: 30%; margin-right: -20%; /*half of width */   
    color: #E6E4E6; padding: 10px; text-align: center; border-radius: 16px; }

.design-archives { 
    background: #5E5C5E; position: absolute; display: block;
    top: 30%; width: 32%; height: 32%; right: 30%; margin-right: -16%; /*half of width */
    color: #E6E4E6; padding: 10px; text-align: center; border-radius: 16px; z-index: 1; }

.zen-resources { 
    background: #868486; position: absolute; display: block; 
    top: 60%; width: 24%; height: 24%; right: 30%; margin-right: -12%; /*half of width */   
    color: #E6E4E6; padding: 10px; text-align: center; border-radius: 16px; z-index: 2; }

/*
.intro {
  background: 
    linear-gradient(
      rgba(0, 0, 0, 0.3),
      rgba(0, 0, 0, 0.3)
    ), 
    url(header_background.jpg);
  background-size: cover;
  height: 100vh;
}

header {
  position: absolute;
  top: 63%;
  left: 33%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
}

.summary, .preamble {
    float: right;
    color: white;
    width: 35%;
    clear: right;
    margin-top: 8%;
    text-align: justify;
    padding-left: 10px;
    padding-right: 10px;
}

#zen-supporting {
  background: 
    linear-gradient(
      rgba(0, 0, 0, 0.1),
      rgba(0, 0, 0, 0.1)
    ), 
    url(main_background.jpg);
  background-size: cover;
  height: 100vh;
}
*/


/*
.sidebar {
    position: fixed;
    top: 0%;
    background:gray;
    width: 100%;    
}

.design-selection, .design-archives, .zen-resources {
    display: inline-block;
    /* float: left; */
    /* color: white;
    margin-left: 10px;
    position: relative;
}

li {
    display: none;
}

.design-selection:hover li {
    display: block;
    position: absolute;
}

.design-archives:hover li {
    display: block;
    position: absolute;
}

.zen-resources:hover li {
    display: block;
    position: absolute;
}
*/