.intro {
  background: 
    linear-gradient(
      rgba(0, 0, 0, 0.3),
      rgba(0, 0, 0, 0.3)
    ), 
    url(header_background.jpg);
  background-size: cover;
  height: 100vh;
}

header {
  position: absolute;
  top: 63%;
  left: 33%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
}

.summary, .preamble {
    float: right;
    color: white;
    width: 35%;
    clear: right;
    margin-top: 8%;
    text-align: justify;
    padding-left: 10px;
    padding-right: 10px;
}
